Source: sphinxcontrib-spelling
Maintainer: Debian Python Team <team+python@tracker.debian.org>
Uploaders: Daniele Tricoli <eriol@debian.org>
Section: python
Priority: optional
Build-Depends:
 debhelper-compat (= 13),
 dh-python,
 hunspell-de-de,
 hunspell-en-us,
 python3-all,
 python3-docutils,
 python3-enchant,
 python3-importlib-metadata,
 python3-pbr,
 python3-pytest,
 python3-setuptools,
 python3-sphinx
Standards-Version: 4.6.0
Rules-Requires-Root: no
Homepage: https://github.com/sphinx-contrib/spelling
Vcs-Git: https://salsa.debian.org/python-team/packages/sphinxcontrib-spelling.git
Vcs-Browser: https://salsa.debian.org/python-team/packages/sphinxcontrib-spelling

Package: python3-sphinxcontrib.spelling
Architecture: all
Depends:
 python3-docutils,
 python3-enchant,
 python3-importlib-metadata,
 python3-sphinx,
 ${misc:Depends},
 ${python3:Depends}
Description: Sphinx "spelling" extension (Python 3)
 This package contains the spelling extension for the Sphinx documentation
 system.
 The extension enables a spelling checker which uses PyEnchant to produce a
 report showing misspelled words.
 .
 The extension also:
  - Supports multiple source languages using the standard enchant
    dictionaries.
  - Supports project-specific dictionaries for localized jargon and other
    terminology that may not appear in the global dictionaries.
  - Suggests alternatives to words not found in the dictionary, when
    possible.
 .
 This package contains the Python 3 version of the extension.

Package: python-sphinxcontrib.spelling-doc
Architecture: all
Section: doc
Depends: ${misc:Depends}, ${sphinxdoc:Depends}
Multi-Arch: foreign
Description: Sphinx "spelling" extension (documentation)
 This package contains the spelling extension for the Sphinx documentation
 system.
 The extension enables a spelling checker which uses PyEnchant to produce a
 report showing misspelled words.
 .
 The extension also:
  - Supports multiple source languages using the standard enchant
    dictionaries.
  - Supports project-specific dictionaries for localized jargon and other
    terminology that may not appear in the global dictionaries.
  - Suggests alternatives to words not found in the dictionary, when
    possible.
 .
 This package contains the HTML documentation.
